{% extends "base.html" %}
{% load static %}
{% load compress %}
{% load i18n %}

{% block page_title %}{% translate "Log in" %}{% endblock page_title %}

{% block stylesheet %}
    {% compress css %}
        <link rel="stylesheet" href="{% static 'scss/authentication.scss' %}" type="text/x-scss">
    {% endcompress %}
{% endblock stylesheet %}

{% block content %}

<div class="auth">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-6 col-12 img-container">
                <img src="{% static 'images/login/image.svg' %}" alt="" class="img-horizontal">
            </div>
            <div class="col-lg-5 col-12 mt-5 mt-lg-0">
                <div class="auth-container">
                    <h1>{% translate "Log In" %}</h1>
                    <p class="text">{% translate "Access to your account and see the beauties of the weather. Keep yourself updated." %}</p>
                    <form method="POST" class="auth-form">
                        {% csrf_token %}
                            {{form}}
                            <a href="#" class="btn-text-lg auth-item">{% translate "Forgot password" %}</a>
                            <button class="btn-lg">{% translate "Log in" %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block script %}

{% endblock script %}