{% load static %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block page_title %}{% endblock page_title %}</title>

    <!--Bootstrap-->
    {% compress css %}
        <link rel="stylesheet" href="{% static 'scss/main.scss' %}" type="text/x-scss">
    {% endcompress %}

</head>
<body>
    <!--Navbar-->
    <div class="nav">
        <nav class="container d-flex flex-row justify-content-between">
            <ul class="col-6 navbar d-flex justify-content-between align-items-center">
                <li class="nav-item"><img src="{% static 'images/logos/logo.svg' %}" alt="DataBerry Logo" class="img-fluid"></li>
                <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Tracker</a></li>
                <li class="nav-item"><a href="#" class="nav-link">About</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Contacts</a></li>
            </ul>
            <ul class="col-2 navbar d-flex justify-content-between align-items-center">
                <li class="nav-item"><a href="" class="nav-link">Log In</a></li>
                <li class="nav-item"><a href="" class="nav-link btn-md">Sign Up</a></li>
            </ul>
        </nav>
    </div>
    <!--End Navbar-->
    {% block content %}
    {% endblock content %}
    <footer>
        <div class="container">
            <div class="row margin-auto">
                <div class="section col-6 col-md-4">
                    <img src="{% static 'images/logos/logo.svg'%}" alt="">
                    <p class="desc">Worldwide tracking meteorologic and clymatologic weather data.</p>
                    <p class="copyright">© 2022 DATABERRY. All rights reserved.</p>
                </div>
                <div class="section col-6 col-md-2">
                    <h5>Quick links</h5>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Features</a></li>
                        <li><a href="#">Our team</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
                <div class="section col-6 col-md-2">
                    <h5>Sitemap</h5>
                    <ul>
                        <li><a href="#">Homepage</a></li>
                        <li><a href="#">Tracker</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contacts</a></li>
                    </ul>
                </div>
                <div class="section col-6 col-md-4">
                    <h5>Subscribe</h5>
                    <p>We care about our subscribers, sign up to receive updates when our service improves.</p>
                    <div class="links">
                        <a href="#" class="btn-lg">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
{% block script %}{% endblock script %}
</html>