{% load static %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block page_title %}{% endblock page_title %}</title>

    <!--Bootstrap-->
    {% block stylesheet %}{% endblock stylesheet %}

</head>
<body>
    <!--Navbar-->
    <nav>
        <div class="container container-menu">
            <div class="navbar">
                <a href="#" class="brand"><img src="{% static 'images/logos/logo.svg'%}" alt=""></a>
                <div class="menu">
                    <ul class="main-menu">
                        <li><a href="{% url 'home' %}" class="btn-menu-text">Home</a></li>
                        <li><a href="{% url 'tracker' %}" class="btn-menu-text">Tracker</a></li>
                        <li><a href="#" class="btn-menu-text">About</a></li>
                        <li><a href="#" class="btn-menu-text">Contacts</a></li>
                    </ul>
                    <ul class="menu-links">
                        <li><a href="#" class="btn-menu-text">Log In</a></li>
                        <li><a href="#" class="btn-lg">Sign Up</a></li>
                    </ul>
                </div>
                <a class="menu-button">
                    <span></span>
                </a>
            </div>
        </div>
    </nav>
    <!--End Navbar-->
    {% block content %}
    {% endblock content %}
    <footer>
        <div class="container">
            <div class="row margin-auto">
                <div class="section col-6 col-lg-4">
                    <img src="{% static 'images/logos/logo.svg'%}" alt="">
                    <p class="desc">Worldwide tracking meteorologic and clymatologic weather data.</p>
                    <p class="copyright">© 2022 DATABERRY. All rights reserved.</p>
                </div>
                <div class="section col-6 col-lg-2">
                    <h5>Quick links</h5>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Features</a></li>
                        <li><a href="#">Our team</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
                <div class="section col-6 col-lg-2">
                    <h5>Sitemap</h5>
                    <ul>
                        <li><a href="{% url 'home' %}">Homepage</a></li>
                        <li><a href="{% url 'tracker' %}">Tracker</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contacts</a></li>
                    </ul>
                </div>
                <div class="section col-6 col-lg-4">
                    <h5>Subscribe</h5>
                    <p>We care about our subscribers, sign up to receive updates when our service improves.</p>
                    <div class="links">
                        <a href="#" class="btn-lg">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
<script src="{% static 'js/menu.js'%}"></script>
{% block script %}{% endblock script %}
</html>