@import "_general.scss";

/* Hero Section */
.hero {
    background: $inverse-surface;
    display: relative;
    color: $inverse-on-surface;

    & .container {
        position: relative;

        & .content {
            padding: 150px 0px;
        }
        
        & .search-container {
                position: absolute;
                display: flex;
                width: 100%;
                justify-content: center;
                transform: translateY(-50%);

                & .search {
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    background: linear-gradient(90.59deg, rgba(255, 255, 255, 0.4) 22.6%, rgba(255, 255, 255, 0.1) 83.09%);
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    backdrop-filter: blur(20px);
                    /* Note: backdrop-filter has minimal browser support */
                    border-radius: 8px;
                    padding: 15px 30px;



                    & form {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        height: fit-content;

                        & input {
                            border-radius: 8px;
                            border: 0px;
                            margin-right: 15px;
                            @include body1;
                            padding: 5px 10px;

                        }::placeholder{
                                @include body1;
                                color: $outline;
                        }
                        
                        & button {
                            display: flex;
                            align-items: center;
                            padding: 10px;
                            border: 0px;
                            border-radius: 8px;
                            background: $secondary;
                            transition: all 0.3s ease-out;
                            cursor: pointer;
                        }

                        & button:hover{
                            @include btn_hover_animation;
                        }
                    }
                }

                & .text {
                    margin-right: 25px;
                    @include subtitle1;
                    color: $on-surface;

                }
                
            }

        @media (max-width:576px) {
            .content {
                padding-top: 50px;
            }

            .search-container {
                width: 93%;

                & .search {
                    flex-direction: column;

                    & p {
                        margin: 0px;
                        margin-bottom: 15px;
                    }
                }
            }
        }
        }


    & .title {
        position: relative;

        & h1 {
            position: relative;
        }
        
        & .swoosh {
            position: absolute;
            top: 100%;
            transform: translateY(-80%);
            left: 50%
        }

        @media (max-width: 1200px) {
            .swoosh{
                display: none;
                visibility: hidden;
            }
        }
    }

    .img-hero {
        visibility: hidden;
        display: none;
    }

    @media (min-width:575px) {
        .img-hero{
            display: block;
            visibility: visible;
        }
    }

    & .desc {
        @include body1;
        padding: 25px 0;
    }
}

/* Popular cities */
.popular-cities-banner {
    background: $inverse-surface;
    border: 0px;

    & .content-box {
        background-color: $surface;
        border-radius: 79px;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);

        & h2 {
            color: $on-surface;
        }

        & .city-card {
            background: linear-gradient(0deg, rgba(0, 85, 211, 0.05), rgba(0, 85, 211, 0.05)), #FEFBFF;
            border-radius: 30px;
            padding: 20px;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            
            & .content {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                width: 100%;
                height: auto;
                flex-grow: 1;
                flex-shrink: 1;
                flex-wrap: wrap;

                & .body {
                    display: flex;
                    flex-direction: column;
                    width: 50%;

                    & h5 {
                        margin-bottom: 15px;
                    }

                    & .current-temperature {
                        @include body-temperature;
                        align-self: center;
                        padding: 20px 0;
                    }

                    & .details {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-evenly;
                    }

                }




            }

            & .img-container {
                width: 50%;
                height: auto;
                display: flex;
                align-items: center;
                position: relative;
            
                & .circle {
                    display: flex;
                    position: relative;
                    border-radius: 50%;
                    width: 100%;
                    padding-top: 100%;
                    background: $surface-variant;
                    overflow: hidden;

                    & img {
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 100%;
                        height: 100%;
                    }

                }
                
            }

            .links {
                display: flex;
                flex-direction: row;
                width: 100%;
                height: fit-content;
                justify-content: end;
                padding-top: 20px;
            }

            @media (max-width:1199px) {
                .img-container {
                    width: 40%;
                }
                .body {
                    width: 60%
                }
            }

            @media (max-width:991px) {
                .img-container {
                    width: 50%;
                }
                .body {
                    width: 50%
                }
            }
            @media (max-width:767px) {
                .img-container {
                    width: 35%;
                }
                .body {
                    width: 65%
                }
            }
            @media (max-width:499px) {
                .img-container {
                    width: 40%;
                }
                .body {
                    width: 60%
                }
            }
        }
    }
}

/* Features */
.features {
    background: $inverse-surface;
    

    & h2 {
        color: $inverse-on-surface;
    }

    & .features-card {
        padding: 50px;
        color: $on-surface;
        @include elevation-1;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        transition: all 0.3s ease-out;
        cursor: default;
    
        & img {
            margin: 0 auto;
        }
    
        & h3 {
            transition: all 0.3s ease-out;
            padding: 25px 0px 10px 0px;
        }
    
        & p {
            @include body1;
        }
    }

    & .features-card:hover {
        @include card_hover_animation;

        & h3 {
            color: $primary;
        }
    }
}


@media (max-width: 1400px) and (min-width: 1200px) {
    .features-card {
        padding: 25px;
    }
}

.waves {
    display: block;
    height: 40px;
    background: $inverse-primary;
    background-image: url('http://127.0.0.1:8000/static/images/home/waves.svg');
    background-repeat: repeat-x;
    background-position: center center;
}

.waves-rotated {
    display: block;
    height: 40px;
    transform: rotate(180deg);
    background: $inverse-primary;
    background-image: url('http://127.0.0.1:8000/static/images/home/waves.svg');
    background-repeat: repeat-x;
    background-position: center center;
}

/* Features 2*/
.features-2 {
    background: $inverse-primary;
    color: $on-surface;

    & .features-group {
    padding-top: 30px;

        & .feature {
            margin-bottom: 30px;

            & .item {
            justify-content: center;
            display: flex;
            @include elevation-1;
            padding: 20px;
            background: $inverse-surface;
            color: $inverse-on-surface;
            border-radius: 0px;
            }
        }
    };
}

/* Banner 2 */
.banner-2 {
    background: linear-gradient(180deg, $inverse-primary, $inverse-surface);
    border: 0px;

    & .content-2 {
        color: $on-surface;
        background-color: $surface;
        border-radius: 79px;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);

        & .body {
            display: flex;
            flex-direction: column;
            padding-left: 50px;
        }

        @media (max-width: 767px) {
            h2 {
                padding-top: 50px;
                padding-bottom: 25px;
            }

            .body {
                padding: 0;
            }
        }

        & p {
            padding: 10px 0 25px 0;
        }

        & .wrapper {
            display: inline-flex;
        }
    }
}

/* Our team */
.our-team {
    background: $inverse-surface;

    & .title {
        color: $inverse-on-surface;
    }

    & .card {
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        overflow: hidden;
        transition: all 0.3s ease-out;
        cursor: default;

        & .body {
            padding: 25px;
            background: $surface;
            margin: 0px;

            & h3 {
                padding: 10px 0;
            }

            & h4 {
                color: $primary;
            }
        }
    }

    & .card:hover {
        @include card_hover_animation;
    }
}

/* Built with */
.built-with {
    background: $inverse-primary;
    color: $on-surface;

    & .brand-group {
        padding: 25px 0;
    }
}

/* FAQ */
.faq {
    background: $inverse-surface;
    color: $inverse-on-surface;

    & .subtitle {
        @include body1;
        padding-bottom: 50px;
        cursor: default;
    }


    & .accordions {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-top: 25px;
        padding-bottom: 25px;

        & .accordion {
            display: flex;
            flex-direction: column;
            overflow: hidden;
            border-radius: 8px;
            margin: 10px 0;

            & .head {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                padding: 25px;
                @include elevation-1;
                color: $on-surface;
                cursor: pointer;
                
                & .img {
                    position: relative;
                    display: flex;

                    & span {
                        position: absolute;
                        background: #525E7F;
                        border-radius: 3px;
                    }

                    & span:first-child {
                        top: 30%;
                        bottom: 30%;
                        width: 10%;
                        left: 45%;
                    }

                    & span:nth-child(2) {
                        left: 30%;
                        right: 30%;
                        height: 10%;
                        top: 45%;
                    }
                }

                & p {
                    margin-left: 25px;
                    cursor: pointer;
                }

            }

            & .body {
                display: flex;
                flex-direction: column;
                overflow: hidden;
                max-height: 0;
                transition: all 0.5s cubic-bezier(0.84, 0, 0.21, 1);

                & .panel {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    background: $surface-variant;
                    color: $on-surface;
                    padding: 25px;
    
    
                    & p {
                        @include body2;
                    }
    
                    & a {
                        padding-top: 15px;
                    }
                }
            }
        }
    }
}
