// Custom.scss

// Colors ---------------------
$theme-colors: (
    "primary": #006686,
    "primary-container":#BFE8FF,
    "secondary": #006C4F,
    "success": #006C4F,
    "warning" : #BA1A1A,
    "danger": #BA1A1A,
    "light": #F6FEFF,
    "dark": #001F24,
    "outline": #8A9297,
    "inverse-primary": #6DD2FF,
    "on-surface-variant": #40484C,
    "surface-variant": #DCE3E9,
    "on-surface": #001F24,
    );

// shadows
$shadow-1: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);

$shadow-2: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);

$shadow-3: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px rgba(0, 0, 0, 0.3);

$shadow-4: 0px 6px 10px 4px rgba(0, 0, 0, 0.15), 0px 2px 3px rgba(0, 0, 0, 0.3);

$shadow-5: 0px 8px 12px 6px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.3);

//$shadows: (
//    1 : $shadow-1,
//    2 : $shadow-2,
//    3 : $shadow-3,
//    4 : $shadow-4,
//    5 : $shadow-5,
//);
//

// gradients
$surface-1: linear-gradient(0deg, rgba(0, 102, 134, 0.05), rgba(0, 102, 134, 0.05)),
#F6FEFF;

$surface-2: linear-gradient(0deg, rgba(0, 102, 134, 0.08), rgba(0, 102, 134, 0.08)),
#F6FEFF;

$surface-3: linear-gradient(0deg, rgba(0, 102, 134, 0.11), rgba(0, 102, 134, 0.11)),
#F6FEFF;

$surface-4: linear-gradient(0deg, rgba(0, 102, 134, 0.12), rgba(0, 102, 134, 0.12)),
#F6FEFF;

$surface-5: linear-gradient(0deg, rgba(0, 102, 134, 0.14), rgba(0, 102, 134, 0.14)),
#F6FEFF;

//$surfaces: (
//1: $surface-1,
//    2: $surface-2,
//    3: $surface-3,
//    4: $surface-4,
//    5: $surface-5,
//);

// elevation
$elevations: (
    1 $shadow-1 $surface-1,
    2 $shadow-2 $surface-2,
    3 $shadow-3 $surface-3,
    4 $shadow-4 $surface-4,
    5 $shadow-5 $surface-5
);

// Typography ---------------------
// fonts
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@700&display=swap');

// text types


// body
$font-family-base: "Public Sans Regular", sans-serif;
$font-size-base: 1rem;
$font-size-root: 1rem;
$font-weight-base: 500;

// headers
$h1-font-size: 4rem;
$h2-font-size: 3rem;
$h3-font-size: 2rem;
$h4-font-size: 1.5rem;
$h5-font-size: 1.3rem;
$h6-font-size: 1.1rem;

$headings-font-weight: 600;
$headings-font-family: 'Space Grotesk', sans-serif;

// buttons
$btn-font-size: 0.9rem;
$btn-font-size-sm: 0.813rem;
$btn-font-size-lg: 0.938rem;
$btn-font-weight: 700;
$btn-font-family: "Public Sans Bold", sans-serif;
$btn-border-radius-sm: 15px;
$btn-border-radius: 15px;
$btn-border-radius-lg: 15px;

// navbar
$secondary: map-get($theme-colors, "secondary");

$navbar-light-color: rgba(black, .55);
$navbar-light-hover-color: rgba($secondary, .7);
$navbar-light-active-color: rgba($secondary, .9);
$navbar-light-disabled-color: rgba($secondary, .3);
$navbar-light-toggler-border-color: rgba($secondary, .1);
$navbar-light-brand-color: $navbar-light-active-color;
$navbar-light-brand-hover-color: $navbar-light-active-color;

// bootstrap
@import "static/bootstrap/bootstrap.scss";

// custom classes
.banner {
    height: 350px;
    margin-top: 200px;
    margin-bottom: 200px;
}

.section{
    margin-bottom: 250px;
}

.caption {
    font-family: "Public Sans Regular", sans-serif;
    font-size: 0.75rem;
    color: map-get($theme-colors, "on-surface-variant");
}

@each $number, $shadow, $surface in $elevations {
    .elevation-#{$number} {
        box-shadow: $shadow !important;
        background: $surface !important;
        border-radius: 35px;
    }
};

.subtitle {
    font-weight: 600;
    line-height: 1.5;
}

// chart 
.axis {
    position: absolute;
    color: #001F24;
    z-index: 1;
    text-transform: uppercase;
    display: flex;
    width: 100%;
    bottom: 0;
}

.axis .tick {
    flex: 1;
    position: relative;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}

.day-number {
    display: block;
}

.day-name {
    display: block;
    opacity: 0.5;
}

/* */
.animated {
    background: linear-gradient(-45deg, rgba(0, 102, 134, 0.12),#DCE3E9, rgba(0, 102, 134, 0.12), #DCE3E9, rgba(0, 102, 134, 0.12));
    background-size: 400% 400%;
    animation: bg 20s infinite;
    box-shadow: $shadow-2 !important;
    border-radius: 35px;
}

@keyframes bg {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

.team_member {
	-webkit-filter: blur(0);
	filter: blur(0);
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}
.team_member:hover {
	-webkit-filter: blur(2px);
	filter: blur(2px);
}

.content {
	.bg {
		@include media-breakpoint-down(md) {
			height: 500px;
		}
	}
	.contents, .bg {
		width: 50%;
		@include media-breakpoint-down(lg) {
			width: 100%;
		}
		.form-group	{
			overflow: hidden;
			margin-bottom: 0;
			// border: 1px solid #efefef;
			padding: 15px 15px;
			border-bottom: none;
			position: relative;
			background: #edf2f5;
			border-bottom: 1px solid darken(#edf2f5, 2%);
			label {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				transition: .3s all ease;
			}
			
			input {
				background: transparent;
			}

			&.first {
				border-top-left-radius: 7px;
				border-top-right-radius: 7px;
			}
			&.last {
				// border-bottom: 1px solid #efefef;
				border-bottom-left-radius: 7px;
				border-bottom-right-radius: 7px;
			}
			label {
				font-size: 12px;
				display: block;
				margin-bottom: 0;
				color: darken(#ccc, 10%);
			}
			&.focus {
				background: $white;
			}
			&.field--not-empty {
				label {
					margin-top: -20px;
				}
			}
		}
		.form-control {
			border: none;
			padding: 0;
			font-size: 20px;
			border-radius: 0;
			&:active, &:focus {
				outline: none;
				box-shadow: none;
			}
		}
	}
	.bg {
		background-size: cover;
		background-position: center;
	}
	a {
		color: #888;
		text-decoration: underline;
	}
	.btn {
		height: 54px;
		padding-left: 30px;
		padding-right: 30px;
	}
	.forgot-pass {
		position: relative;
		top: 2px;
		font-size: 14px;
	}
}

.social-login {
	a {
		
		text-decoration: none;
		
		position: relative;
		text-align: center;
		color: $white;
		margin-bottom: 10px;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		display: inline-block;
		span {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		&:hover {
			color: $white;
		}
		&.facebook {
			background: #3b5998;
			&:hover {
				background: darken(#3b5998, 5%);
			}
		}
		&.twitter {
			background: #1da1f2;
			&:hover {
				background: darken(#1da1f2, 5%);
			}
		}
		&.google {
			background: #ea4335;
			&:hover {
				background: darken(#ea4335, 5%);
			}
		}
	}
}


.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 14px;
  .caption {
  	position: relative;
  	top: .2rem;
  	color: #888;
  }
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
  border-radius: 4px;
}
.control--radio .control__indicator {
  border-radius: 50%;
}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc;
}
.control input:checked ~ .control__indicator {
  background: $primary;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: lighten($primary, 5%);
}
.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.9;
  pointer-events: none;
}
.control__indicator:after {
	font-family: 'icomoon';
  content: '\e5ca';
  position: absolute;
  display: none;
  font-size: 16px;
  transition: .3s all ease;
}
.control input:checked ~ .control__indicator:after {
  display: block;
  color: #fff;
}
.control--checkbox .control__indicator:after {
	top: 50%;
	left: 50%;
	margin-top: -1px;
	transform: translate(-50%, -50%);
}
.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}
.control--checkbox input:disabled:checked ~ .control__indicator {
  background-color: #7e0cf5;
  opacity: .2;
}