// Custom.scss

// Colors ---------------------
$theme-colors: (
    "primary": #006686,
    "primary-container":#BFE8FF,
    "secondary": #006C4F,
    "success": #006C4F,
    "warning" : #BA1A1A,
    "danger": #BA1A1A,
    "light": #F6FEFF,
    "dark": #001F24,
    "outline": #8A9297,
    "inverse-primary": #6DD2FF,
    );

// shadows
$shadow-1: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);

$shadow-2: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);

$shadow-3: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px rgba(0, 0, 0, 0.3);

$shadow-4: 0px 6px 10px 4px rgba(0, 0, 0, 0.15), 0px 2px 3px rgba(0, 0, 0, 0.3);

$shadow-5: 0px 8px 12px 6px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.3);

// gradients
$surface-1: linear-gradient(0deg, rgba(0, 102, 134, 0.05), rgba(0, 102, 134, 0.05)),
#F6FEFF;


$secondary: map-get($theme-colors, "secondary");

// Typography ---------------------
// fonts
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@700&display=swap');

// text types



// body
$font-family-base: "Public Sans Regular", sans-serif;
$font-size-base: 1rem;
$font-size-root: 1rem;
$font-weight-base: 500;

// headers
$h1-font-size: 4rem;
$h2-font-size: 3rem;
$h3-font-size: 2rem;
$h4-font-size: 1.5rem;
$h5-font-size: 1.3rem;
$h6-font-size: 1.1rem;

$headings-font-weight: 600;
$headings-font-family: 'Space Grotesk', sans-serif;

// buttons
$btn-font-size: 0.9rem;
$btn-font-size-sm: 0.813rem;
$btn-font-size-lg: 0.938rem;
$btn-font-weight: 700;
$btn-font-family: "Public Sans Bold", sans-serif;
$btn-border-radius-sm: 15px;
$btn-border-radius: 15px;
$btn-border-radius-lg: 15px;
$btn-padding-x: 1rem;
$btn-padding-x-lg: 2rem;

// cards
$enable-shadows: true;
$enable-reduced-motion: false;
$card-border-radius: 0px;
$card-inner-border-radius: 0px;
$card-border-width: 0px;

// navbar
$navbar-light-color: rgba(black, .55);
$navbar-light-hover-color: rgba($secondary, .7);
$navbar-light-active-color: rgba($secondary, .9);
$navbar-light-disabled-color: rgba($secondary, .3);
$navbar-light-toggler-border-color: rgba($secondary, .1);
$navbar-light-brand-color: $navbar-light-active-color;
$navbar-light-brand-hover-color: $navbar-light-active-color;

// bootstrap
@import "static/bootstrap/bootstrap.scss";

// custom classes
.banner {
    height: 350px;
    margin-top: 200px;
    margin-bottom: 200px;
}

.section{
    margin-bottom: 250px;
}

.z-1 {
    box-shadow: $shadow-1;
    background: $surface-1;
}

.testing {
    background: $surface-1;
}